{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<section class="ks-section ks-bread ks-extend-mb">
  <div class="container-fluid px-3 px-md-0">
	<div class="row justify-content-end">
	  <div class="col-md-10">
			<div class="row d-flex">
			  <div class="col-lg-8">
			    <div class="row">
            <div class="col-lg-12">
           <h1 class="tag-title">Searched For: {{query}}</span></h1>
            {% if posts|length < 1 %}
             <p>Your search query : <strong>{{query}}</strong> did not match any documents. </p>
            {% endif %}

           </div>
            
            <!-- Start: Articles on Loop -->
            {% for item in posts %}
            <div class="col-md-12">
					    <div class="blog-entry ks-animate">
								<a href="{% url 'post_detail' item.slug  %}" class="img img-2" style="background-image: url('{{ item.image.url }}');"></a>
								<div class="text pt-3">
									<h3 class="mb-2"><a href="{% url 'post_detail' item.slug  %}">{{ item.title }}</a></h3>
						      <div class="meta-wrap">
									  <p class="meta">
                      <span>Published {{ item.created_on | naturaltime }} • {{item.content | wordcount}} WORDS 📝 •
                      💖{{ item.total_likes }}
                      </span>
						         </p>
					        </div>
						      <p><a href="{% url 'post_detail' item.slug  %}" class="btn btn-primary">Read More <span class="ion-ios-arrow-forward"></span></a></p>
						    
                 
                </div>
              </div>
					  </div>
            {% endfor %}
            <!-- End: Articles on Loop -->	
					</div>
          
          <!-- Start: pagination -->
          <div class="row">
            <div class="col" style="z-index:1002;" >
              
                {% if is_paginated %}
                  {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous </a>
                  {% endif %}
                  {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"> Next &raquo;</a>
                  {% endif %}
                {% endif %}
    
                
					  </div>
					</div>
          <!-- End: pagination -->
        </div>
        {% block sidebar %}
            {% include 'right_side.html' %}
        {% endblock sidebar %}

        
			</div>
		</div>
	</div>
	</div>
</section>

{% endblock content %}